@model PokeStack.Models.PokeModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PokeModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pokeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pokeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.type1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.type1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.type2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.type2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.hp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.hp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.atk)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.atk)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.def)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.def)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.spA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.spA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.spD)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.spD)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.spe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.spe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.imageUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.imageUrl)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
